/* 
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #06002e;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
} */


.input-label {
  font-size: 2.1rem;
  /* margin-bottom: 0.5rem; */
  color: #e3e3e3;
   display: block; /* Make label a block element */
}

.input-field {
  width: 100%;
  padding: 21px 90px;
  font-size: 1rem;
  border-radius: 51px;
  background-color: #ffffff;
  color: #131313;
}


.input-field:focus {
  outline: 8px solid #e3e3e3;
}
